@use '../mixins/hover.scss' as*;

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    background-color: var(--primary-color);
    border-radius: var(--radius-m);
    transition: transform 2s;

    @include hover {

        &-container:hover .box {
            transform: translateX(calc(1000px - 100% - 4rem));
        }

    }



}